:host
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
app-album {
  display: block;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  width: 350px;

}
