<h2>Music</h2>
<div class="container">
  <ul class="albums">
    <li class="album">
        <img src="/img/coverart/cupids-bow.jpg" width="250" height="250" alt="Cupid's bow" class="album-image">
      <div class="album-info">
          <h3>Cupid's bow</h3>
        <ul class="actions">
          <li>
            <a tooltip="Listen on Spotify" href="https://open.spotify.com/album/1lLcviN7Ds8NVHzjktgNJV?si=Z0nZ6BAaQqe2bRZGzuBAyA" target="_blank">
              <img src="/img/social/spotify.svg" alt="Listen on Spotify">
            </a>
          </li>
          <li>
            <a tooltip="Listen on Amazon Music"  href="https://music.amazon.com/albums/B0DYY9D2YQ" target="_blank">
              <img src="/img/social/amazon-logo.svg" alt="Listen on Amazon Music">
            </a>
          </li>
          <li>
            <a tooltip="Listen on Deezer" href="https://www.deezer.com/en/album/720654991" target="_blank">
              <img src="/img/social/deezer.svg" alt="Listen on Deezer">
            </a>
          </li>
          <li>
            <a tooltip="Listen on Tidal" href="https://listen.tidal.com/album/421223480" target="_blank">
              <img src="/img/social/tidal-logo.svg" alt="Listen on Tidal">
            </a>
          </li>
          <li>
            <a tooltip="Listen on Apple Music" href="https://music.apple.com/us/album/cupids-bow/1799389188" target="_blank">
              <img src="/img/social/apple-music.svg" alt="Listen on Apple Music">
            </a>
          </li>
        </ul>
        <button (click)="openAlbum('cupids-bow')">Listen now</button>
      </div>
    </li>
  </ul>
</div>

