:host {
  background: #393652;
  display: block;
  padding: 2rem 0;
}
h2 {
    color: #FFFFFFCC;
}

.container {
  max-width: 1000px;
}

.albums {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  padding: 0;
  list-style: none;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

