@if (member === 'mathieu') {
  <header>
    <img src="/img/mathieu/bg.jpg" width="550" height="150" alt="Keyboards"/>
    <button class="close" (click)="close()"></button>
  </header>
  <img class="profile" src="/img/mathieu/dialog.jpg" width="200" height="200" alt="Mathieu"/>
  <section>
    <p>
      Mathieu endured a classical education in piano and drums. As a child he was also a member of a local fanfare.
      After he left 'More' he mostly played piano and keyboards in different
      cover/party bands (The Firm, Supernatural Heroes, Six on Fire, Cups and plates, ...).
      His musical hobby came to a full stop years ago...
    </p>
    <p>But with founding Dream Eyes, he recently found a renewed pleasure in music by working on the songs from before
      with his friends. He went to a recording studio for the first time in his life, and there he played a vintage
      Hammond organ. Both things were bucket list material for him.</p>
  </section>
} @else if (member === 'marc') {
  <header>
    <img src="/img/marc/bg.jpg" width="550" height="150" alt="Guitars"/>
    <button class="close" (click)="close()"></button>
  </header>
  <img class="profile" src="/img/marc/dialog.jpg" width="200" height="200" alt="Marc"/>
  <section>
    <p>Bio coming soon...</p>
  </section>
} @else {
  <header>
    <img src="/img/sven/bg.jpg" width="550" height="150" alt="Vocals"/>
    <button class="close" (click)="close()"></button>
  </header>
  <img class="profile" src="/img/sven/dialog.jpg" width="200" height="200" alt="Sven"/>
  <section>
    <p>Bio coming soon...</p>
  </section>
}
