:host {
  display: block;
  max-width: 550px;
  background: saddlebrown;
  color: white;
  position: relative;
}

.profile {
  position: absolute;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
}

section {
  padding: calc(75px + 2rem) 2rem 2rem;
}

.close {
  position: absolute;
  right: 0;
  top: -32px;
  width: 32px;
  height: 32px;
  background: #333;
  border: none;
  cursor: pointer;
  border-radius: 0;
  &:before, &:after {
    position: absolute;
    left: 15px;
    top: 0;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
    transition: transform .2s ease-in-out;
    opacity: .6;
  }

  &:before {
    transform: rotate(45deg) scale(.7);
  }
  &:after {
    transform: rotate(-45deg) scale(.7);
  }

  &:hover {
    &:before, &:after {
      opacity: 1;

    }
  }
}

