<header>
  <img src="https://via.placeholder.com/550x150" width="550" height="150" alt="Mathieu"/>
  <button class="close" (click)="close()"></button>
</header>
<img class="profile" src="https://via.placeholder.com/200x200" width="200" height="200" alt="Mathieu"/>
<section>
  <p>
    Mathieu endured a classical education in piano and drums. After playing the drums in a few bands, he decided to
    focus on the piano, mostly playing in different cover/party bands (The Firm, Supernatural Heroes, Six on Fire, Cups and plates, ...).
  </p>
  <p>His musical hobby came to a full stop years ago until he got a call from Marc. He found a renewed pleasure in making music by
    arranging the songs from before. The biggest achievement so far was playing on an actual Hammond organ in the studio.</p>
</section>
