:host {
  border: 1px solid #57517d;
  box-shadow: 0 0 6px 6px #00000008;
  border-radius: 5px;
  text-align: center;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 1;
    margin: 0 auto;
    display: block;
    border-radius: 5px 5px 0 0;
  }
}

.album-info {
  padding: 2rem;
  background-color: #fafafa;
  text-align: center;
  p {
    text-align: justify;
  }
  h3 {
    text-align: center;
  }
}

button {
  background-color: #edb61e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #c78421;
  }
}
.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
  padding: 0;

  li {
    list-style: none;
    a {
      border-radius: 5px;
      display: inline-block;
      padding: 0.5rem;
      &:hover {
        background: #DEDEDE;
      }
    }
    img {
      width: auto;
      height: 35px;
    }
  }
}

[tooltip]{
  position:relative;
}
[tooltip]::before {
  content: "";
  position: absolute;
  top:-6px;
  left:50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
  z-index: 100;
  opacity: 0;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left:50%;
  top:-6px;
  transform: translateX(-50%)   translateY(-100%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

[tooltip]:hover::after,[tooltip]:hover::before {
  opacity:1
}
