<section class="container">
  <h2>Biography</h2>
  <p>
    Around 2000, a band called "Desperados" was formed by singer-songwriter Marc and lyricist Michel.
    Mathieu joined the band as a drummer and when Sven took on the lead vocals the band was renamed "More". After
    a few gigs and some member changes, the band came to a halt and they went their own ways.
  </p>
  <p>
    However, "More" music kept playing in their hearts and eventually - over 20 years later -
    Sven and Marc decided to get back together and record the music from before. Mathieu joined them
    without hesitation.
  </p>
  <p>
    This is how "Dream Eyes" was born.
  </p>

  <ul class="members">
    <li (click)="openMember('sven')">
      <img src="/img/sven/profile.jpg" alt="Sven Vanhemmens"/>
      <h3>Sven <small>Vanhemmens</small></h3>
      <p>Vocals</p>
    </li>
    <li (click)="openMember('marc')">
      <img src="/img/marc/profile.jpg" alt="Marc Van Nuland"/>
      <h3>Marc <small>Van Nuland</small></h3>
      <p>6 & 12 string guitars</p>
    </li>
    <li (click)="openMember('mathieu')">
      <img src="/img/mathieu/profile.jpg" alt="Mathieu Maes"/>
      <h3>Mathieu <small>Maes</small></h3>
      <p>Keys & drums</p>
    </li>
  </ul>
<p>
  Recording: Mathieu Maes<br />
  Mix: Sven Vanhemmens<br />
  All songs composed by Marc Van Nuland
</p>
  <div class="help">
    <h3>... with a little help from our friends</h3>
    Special thanks go to
    <ul>
      <li><strong>Michel Berckmans</strong> providing the lyrics</li>
      <li><strong>Gerwin Claes</strong> recording the bass tracks</li>
      <li><a href="http://closedsession.be/" target="_blank">Closed session studios</a> for some awesome recording experiences</li>
      <li>Backing vocals: <strong>Sven Vanhemmens</strong> and <strong>Sophie Vanhemmens</strong></li>
    </ul>
  </div>
</section>
