:host {
  display: block;
  background: linear-gradient(180deg, #323232, #3e493b);
  color: white;
  padding: 2rem 0;
}

a {
  color: white;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.members {
  list-style: none;
  margin: 2rem 0 4rem;
  padding: 0;

  display: flex;
  gap: 2rem;
  justify-content: center;

  li {
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    &:nth-child(2) {
      transform: translateY(-20px);
    }
    &:nth-child(3) {
      transform: translateY(30px);
    }
  }
  img {
    max-width: 100%;
    width: 200px;
    filter: grayscale(60%);
  }
  h3, p {
    line-height: 1;
    margin: 0;
  }
  h3 {
    margin-bottom: 6px;
  }
  h3 small {
    display: block;
    font-size: 0.8em;
    @media screen and (min-width: 600px) {
      font-size: 1em;
    }
  }
  p {
    font-size: 0.9em;
    @media screen and (min-width: 600px) {
      font-size: 1em;
    }

  }
}

.container {
  max-width: 704px;
  text-align: justify;
}
