<section class="container">
  <h2>Dream Eyes</h2>
  <p>
    Around 2000, a band called "Desperados" was formed by singer-songwriter Marc and lyricist Michel on bass.
    Mathieu joined the band as a drummer and when Sven took on the lead vocals the band was renamed "More". Only after
    a few years and some member changes, the band came to a halt and they went their own ways.
  </p>
  <p>
    However, "More" music kept playing in their hearts and eventually - over 20 years later -
    Sven and Marc decided to get back together and record the music from before. They asked Mathieu to join, he did not
    hesitate for a second.
  </p>
  <p>
    This is how "Dream Eyes" was born.
  </p>

  <ul class="members">
    <li>
      <img src="https://via.placeholder.com/200x300" alt="Sven"/>
      <h3>Sven</h3>
      <p>Vocalist, producer</p>
    </li>
    <li>
      <img src="https://via.placeholder.com/200x300" alt="Sven"/>
      <h3>Marc</h3>
      <p>Songwriter, guitars</p>
    </li>
    <li>
      <img src="https://via.placeholder.com/200x300" alt="Sven"/>
      <h3>Mathieu</h3>
      <p>Keys, drums, producer</p>
    </li>
    <!--
    <li>
      <h3>Mathieu <small>Producer, keys, drums</small></h3>
      <p>
        Mathieu endured a classical education in piano and drums. After playing the drums in a few bands, he decided to
        focus on the piano, mostly playing in different cover/party bands (The Firm, Supernatural Heroes, Six on Fire, Cups and plates, ...).
      </p>
      <p>His musical hobby came to a full stop years ago until he got a call from Marc. He found a renewed pleasure in making music by
      arranging the songs from before. The biggest achievement so far was playing on an actual Hammond organ in the studio.</p>
    </li>
    -->
  </ul>

  <div class="help">
    <h3>... with a little help from our friends</h3>
    Special thanks go to
    <ul>
      <li><strong>Michel Berghmans</strong> providing the lyrics</li>
      <li><strong>Gerwin Claes</strong> recording the bass tracks</li>
      <li><a href="http://closedsession.be/">Closed session studios</a> for an awesome recording experience</li>
      <li><strong>Sophie</strong> and <strong>Brent</strong> recording backing vocals</li>
    </ul>
  </div>
</section>
