<section class="container">
  <p>
    Around 2000, a band called "Desperados" was formed by singer-songwriter Marc and lyricist Michel.
    Mathieu joined the band as a drummer and when Sven took on the lead vocals the band was renamed "More". After
    a few gigs and some member changes, the band came to a halt and they went their own ways.
  </p>
  <p>
    However, "More" music kept playing in their hearts and eventually - over 20 years later -
    Sven and Marc decided to get back together and record the music from before. Mathieu joined them
    without hesitation.
  </p>
  <p>
    This is how "Dream Eyes" was born.
  </p>

  <ul class="members">
    <li (click)="openMember('sven')">
      <img src="/img/sven/profile.jpg" alt="Sven Vanhemmens"/>
      <h3>Sven Vanhemmens</h3>
      <p>Vocalist, mixing</p>
    </li>
    <li (click)="openMember('marc')">
      <img src="/img/marc/profile.jpg" alt="Marc Van Nuland"/>
      <h3>Marc Van Nuland</h3>
      <p>Songwriter, guitars</p>
    </li>
    <li (click)="openMember('mathieu')">
      <img src="/img/mathieu/profile.jpg" alt="Mathieu Maes"/>
      <h3>Mathieu Maes</h3>
      <p>Keys, drums, recording</p>
    </li>
  </ul>

  <div class="help">
    <h3>... with a little help from our friends</h3>
    Special thanks go to
    <ul>
      <li><strong>Michel Berghmans</strong> providing the lyrics</li>
      <li><strong>Gerwin Claes</strong> recording the bass tracks</li>
      <li><a href="http://closedsession.be/" target="_blank">Closed session studios</a> for an awesome recording experience</li>
      <li><strong>Sophie</strong> and <strong>Brent</strong> recording backing vocals</li>
    </ul>
  </div>
</section>
