@keyframes title
{
  from {
    opacity: 0;
    transform: translateY(10vh) scale(.7);
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: .8;
    transform: translateY(0) scale(1);
  }
}

:host {
  display: block;
  min-height: 100vh;

  background: url("/img/intro_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: calc(var(--scroll) * -.5);
  text-align: center;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

h1 {
  color: white;
  text-shadow: 0 0 15px #0003;
  font-family: Amatic SC, cursive;
  font-size: 15vw;
  animation: title 3s ease-out forwards;
  top: calc(var(--scroll) * .4);
  position: relative;
  margin: 0;
}
