<section>
  <p>Follow us on:</p>
  <ul>
    <li><a title="Facebook" href="https://www.facebook.com/profile.php?id=61550329876004" target="_blank">
      <img src="/img/social/facebook.svg" alt="Facebook">
      <span class="cdk-visually-hidden">Facebook</span>
    </a></li>
    <li><a title="Spotify" href="https://open.spotify.com/artist/6V02Q0ZrQ1nGE2BDssSDQz" target="_blank">
      <img src="/img/social/spotify.svg" alt="Spotify">
      <span class="cdk-visually-hidden">Spotify</span>
    </a></li>
  </ul>
</section>
