@use "./theme/variables" as *;
@import "modern-normalize/modern-normalize.css";
@import "@angular/cdk/overlay-prebuilt.css";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2, h3 {
  font-family: $title-font;
  margin: 0 0 1rem;
}
h2 {
  font-size: 4em;
  text-align: center;
}
h3 {
  font-size: 2em;

}

.cdk-dialog-container {
  outline: none;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .60);
}
